@model Library_managements.Models.Sach

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">Edit</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Book</h3>
                            </div>
                            <hr />
                            @using (Html.BeginForm("Save", "Saches", FormMethod.Post))
                            {
                                <input type="hidden" asp-for="maSach" />
                                <div class="form-group">
                                    <label asp-for="tenSach" class="control-label"></label>
                                    <input asp-for="tenSach" class="form-control" />
                                    <span asp-validation-for="tenSach" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="tacGia" class="control-label"></label>
                                    <input asp-for="tacGia" class="form-control" />
                                    <span asp-validation-for="tacGia" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="tomTat" class="control-label"></label>
                                    <input asp-for="tomTat" class="form-control" />
                                    <span asp-validation-for="tomTat" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="tinhTrang" class="control-label"></label>
                                    <input asp-for="tinhTrang" class="form-control" />
                                    <span asp-validation-for="tinhTrang" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>}
                                </div>
                            </div>
                        </div>

                        <div>
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div></div>
                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
